@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Darker+Grotesque&display=swap');
body {
  background: linear-gradient(rgb(255,255,255,0.65), rgb(255,255,255,0.5)), url(./components/forecastBG.jpg);
  background-size: cover;
  height: 100vh;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.leftHeader {
  height: 100vh;
  width: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightInfo {
  height: 100vh;
  width: 50%;
  background: linear-gradient(rgb(0,0,0,0.25), rgb(0,0,0,0.5)), url(./sunnyDay-min.jpg);
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

.weatherApp-title {
  color: cornflowerblue;
  text-shadow: 1px 3px 5px #ccc;
  height: 100%;
}

.weatherApp-title h1 {
  font-size: 6rem;
}

.rightInfo .section {
  background: rgb(240, 248, 255, .70);
  height: 100%;
}

.cityCountry {
  background-color: transparent!important;
  border: none;
  padding: 1rem;
  margin: 2rem .75rem;
  border-bottom: 5px solid cornflowerblue;
  font-size: 1.25rem;
  color: black;
}
/* .goHomeTitle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */

.getWeather {
  border: none;
  padding: 0.5rem 1rem;
  box-shadow: 0px 5px 6px #000000cc;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1rem;
  background: cornflowerblue;
  color: white;
}

.getForecasts {
  border: none;
  padding: 0.5rem 1rem;
  box-shadow: 0px 5px 6px #000000cc;
  border-radius: 5px;
  margin: 2rem;
  font-size: 1rem;
  background: cornflowerblue;
  color: white;
}

.weatherCard:hover {
  box-shadow: 0px 5px 16px #000000cc;
  position: relative;
  top: -7px;
  transition: top 125ms linear;
}
.weatherCard {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 65px;
    border-bottom: 5px solid cornflowerblue;
    padding: 1rem 2rem 2rem 2rem;
    background-color: white;
    margin: 0rem 0rem 0.5rem 0rem;
    top: 0px;
    transition: top 125ms linear;
  }
.five4castcard {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    border-bottom: 5px solid cornflowerblue;
    padding: 1rem 2rem 2rem 2rem;
    background-color: white;
    margin: 0rem 0rem 0.5rem 0rem;
    top: 0px;
    transition: top 125ms linear;
  }
  .divider {
    padding: 0rem .3rem;
  }
.holdFCBtns {
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0rem 0rem 1.5rem 0rem;
}

.holdWeekDay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

.hourlyForecast {
  height: auto;
  width: 100%;
  margin: 0 auto;
  /* display: block; */
  /* text-align: center; */
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  flex-wrap: wrap;
}

.titleForecast {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}

.homeBtn {
  margin-left: 2rem;
  border: none;
    padding: 0.5rem 1rem;
    /* box-shadow: 0px 5px 6px #000000cc; */
    /* border-radius: 5px; */
    margin: 2rem;
    font-size: 1.5rem;
    background: none;
    color: cornflowerblue;
    cursor: pointer;
}

.fiveDays {
  padding: 2rem 0rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tempHighLow {
  display: flex;
    justify-content: space-between;
    width: 100%;
    /* font-size: .8rem; */
}

.section .container {
  height: 100%;
}

/* .section {
  background: url('./components/forecastBG.jpg')
} */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.weatherApp-title .bordered {
  border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    color: aquamarine;
    font-size: 4.5rem;
    text-transform: uppercase;
    text-shadow: 1px 3px 5px #ccc;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.frontPageWeather {
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.cityAndIcon {
  font-size: 2rem;
  margin: 1rem 0rem;
}

.frontPageIcon {
  margin-left: 4rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.weather-icon {
  height: 80px;
  width: 80px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.modal-main {
  position:fixed;
  background: white;
  width: 30%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 2rem;
}

.closeButton {
  background: none;
  border: none;
  font-size: 2rem;
  transform: rotate(45deg);
}

.closeButton:focus {
  outline: none;
}

.threeHrButtons {
  background: none;
  border: none;
}

.threeHrButtons:focus {
  outline: none;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
